  <template>
    <div class="login-container">
        <!--        <H1>VUE后台管理系统登录</H1>-->
        <el-form :model="ruleForm" status-icon ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <div class="title">后台管理系统</div>
            <el-form-item label="账号" prop="name">
                <el-input type="name" v-model="ruleForm.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password">
                <el-input type="password" v-model="ruleForm.password" autocomplete="off" :show-password=true></el-input>
            </el-form-item>
            <el-form-item class="button-container">
                <el-button type="primary" @click="submitForm(ruleForm)">登录</el-button>
                <!--                <el-button   type="primary">登录</el-button>-->
                <!--                <el-button @click="resetForm('ruleForm')">重置</el-button>-->
            </el-form-item>
        </el-form>
    </div>
</template>

<script>
    import {login} from '../api/api'

    export default {
        data() {
        
            return {
                ruleForm: {
                    name: '',
                    password: '',
                },
               
            };
        },
        methods: {
            submitForm(formdata) {
                console.log('mtj')
                console.log(formdata)
                console.log('name=',formdata.name)
                if (formdata.name && formdata.password) {
                    console.log('tj')
                    login(formdata).then((res) => {
                        if (res.data.code === 200) {
                            console.log('cg')
                            this.$router.push('/home')
                            // location.href = '/home'
                        } else {
                            console.log('budui')
                        }
                    }).catch(() => {
                        console.log('sb')
                    })
                }

            }
        }
    }
</script>

<style lang="less" scoped>
    .login-container {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 0;
        margin: 0;
        /*flex-direction: column;*/
        justify-content: center;
        align-items: center;
        background-color: gainsboro;

        .title {
            box-sizing: border-box;
            width: 100%;
            height: 50px;
            font-size: 30px;
            line-height: 30px;
            padding: 0 0 20px 10px;
            text-align: center;
        }

        .el-form {
            padding: 20px 30px 20px 10px;
            border-radius: 10px;
            background-color: #FFF;
            box-shadow: 4px 4px 8px 6px #545c64;
        }

        .button-container {
            margin: 0;
            width: 100%;
            display: flex;
            justify-content: right;
            align-items: center;
        }
    }
</style>