<template>
    <el-container>
        <el-aside :width="handleAsideWidth" >
            <common-aside/>
        </el-aside>
        <el-container>
            <el-header>
                <common-header/>
            </el-header>
            <el-main>
                <router-view></router-view>
            </el-main>
        </el-container>
    </el-container>
    <!-- <common-aside /> -->
</template>

<script>
    import CommonAside from "../components/CommonAside.vue"
    import CommonHeader from "../components/CommonHeader.vue"

    export default {
        data() {
            return {

            }
        },
        computed:{
            handleAsideWidth(){
                return  this.$store.state.tab.isCollapse? "64px" : "200px"
            }
        },
        components: {
            CommonAside,
            CommonHeader
        },
        mounted() {
           

        }
    }
</script>

<style scoped>
    .el-container, .el-menu {
        height: 100%;
    }
    .el-menu{
        border-right: 0;

    }
    .el-header{
        padding: 0;
        background-color: #545c64;
    }
</style>