<template>
    <div>
        <el-table
                :data="tableData"
                style="width: 100%">
            <el-table-column
                    label="姓名"
                    prop="name">
            </el-table-column>
            <el-table-column
                    label="日期"
                    prop="date">
            </el-table-column>
            <el-table-column
                    label="地址"
                    prop="address">
            </el-table-column>
            <el-table-column
                    label="数据1"
                    prop="data1">
            </el-table-column>
            <el-table-column
                    label="数据2"
                    prop="data2">
            </el-table-column>
            <el-table-column
                    label="数据3"
                    prop="data3">
            </el-table-column>
            <el-table-column
                    label="数据4"
                    prop="data4">
            </el-table-column>
            <el-table-column align="right">
<!--                <template ></template>-->
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="handleEdit(scope.$index, scope.row)">Edit
                    </el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">Delete
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <div class="block">
            <el-pagination
                    @current-change="handleData(tableDatas)"
                    :current-page.sync="tablePage"
                    :page-size="tableDataNum"
                    layout="prev, pager, next, jumper"
                    :total="tableDatas.length"
                    :hide-on-single-page="true">
            </el-pagination>
        </div>

    </div>
</template>

<script>
    import { getData } from '../api/api'
    export default {
        data() {
            return {
                tableData: [],
                tableDatas: [],
                tablePage: 1,
                tableDataNum: 5,
                search: ''
            }
        },
        methods: {
            handleEdit(index, row) {
                console.log(index, row);
            },
            handleDelete(index, row) {
                console.log(index, row);
            },
            handleData(e) {  //表单数据分页处理
                // console.log(e.length)
                if (e.length > this.tableDataNum) {
                    this.tableData = e.slice((this.tablePage - 1) * this.tableDataNum, this.tablePage * this.tableDataNum)
                }
            }
        },
        mounted() {
            //获取数据 请求后端数据
            getData().then( (res) => {
                console.log(res)
                console.log('success')
                this.tableDatas = res.data.data
                this.handleData(this.tableDatas)
            }).catch(function () {
                console.log('shibai')
            }).then(function () {
                console.log('faliy')
            })
            // this.tableDatas = [
            //     {
            //         date: '2016-05-02',
            //         name: '王小虎',
            //         address: '上海市普陀区金沙江路 1518 弄',
            //         data1: '数据1',
            //         data2: '数据2',
            //         data3: '数据3',
            //         data4: '数据41',
            //     },
            //     {
            //         date: '2016-05-02',
            //         name: '王小虎',
            //         address: '上海市普陀区金沙江路 1518 弄',
            //         data1: '数据1',
            //         data2: '数据2',
            //         data3: '数据3',
            //         data4: '数据42',
            //     },
            //     {
            //         date: '2016-05-02',
            //         name: '王小虎',
            //         address: '上海市普陀区金沙江路 1518 弄',
            //         data1: '数据1',
            //         data2: '数据2',
            //         data3: '数据3',
            //         data4: '数据43444444444444444444',
            //     }
            // ]
            //处理tableData 分页/每页数据条数/
            // this.handleData(this.tableDatas)
        },
        computed: {
            // this.tablePage
        },

    }
</script>
<style scoped lang="less">
    .block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
</style>