<template>
    <el-menu class="el-menu-vertical-demo"
             :collapse="isCollapse" :router="elMenuConfigureDatas.router" background-color="#545c64" text-color="white">
        <h3 :style="{ opacity :  isCollapse ? 0 : 1}">通用后台管理系统</h3>
        <!--		不处理列表数据直接加span循环 再判断是否有childern 没有则直接el-menu-item 有则el-submenu再进行下拉菜单循环，当 -->
        <!--		 进行aside展开和收起时 后面有下拉菜单的菜单有bug，菜单名字不隐藏，外套span有bug                              -->
        <!--		<span v-for="item in menuDatas" :key="item.label">-->
        <!--			<el-menu-item v-if=" !item.children" :index="item.name" >-->
        <!--				<i :class="`el-icon-${ item.icon }`"></i>-->
        <!--				<span slot="title">{{ item.label }}</span>-->
        <!--			</el-menu-item>-->
        <!--			<el-submenu v-else :index="item.label">-->
        <!--				<template slot="title">-->
        <!--					<i :class="`el-icon-${ item.icon }`"></i>-->
        <!--					<span slot="title">{{ item.label }}</span>-->
        <!--				</template>-->
        <!--				<el-menu-item-group  >-->
        <!--					<el-menu-item  v-for="item1 in item.children" :key="item1.label" :index="item1.name">{{ item1.label }}</el-menu-item>-->
        <!--				</el-menu-item-group>-->
        <!--			</el-submenu>-->
        <!--		</span>-->
        <el-menu-item v-for=" item in nochildren" :key="item.label" :index="item.name" @click="handleStorePath(item)">
            <i :class="`el-icon-${ item.icon }`"></i>
            <span slot="title">{{ item.label }}</span>
        </el-menu-item>
        <el-submenu v-for=" subitem in haschildren" :key="subitem.label" :index="subitem.label">
            <template slot="title">
                <i :class="`el-icon-${ subitem.icon }`"></i>
                <span slot="title">{{ subitem.label }}</span>
            </template>
            <el-menu-item v-for=" subsubitem in subitem.children" :key="subsubitem.name" :index="subsubitem.name" @click="handleStorePath(subsubitem)">
                {{ subsubitem.label }}
            </el-menu-item>
        </el-submenu>
    </el-menu>
</template>

<script>
    export default {
        data() {
            return {
                elMenuConfigureDatas: {
                    // isCollapse: false,
                    router: true
                },
                menuDatas: [{
                    path: "/",
                    name: "home",
                    label: "首页",
                    icon: "s-home",
                    url: "Home/Home"
                },
                    {
                        path: "/mall",
                        name: "mall",
                        label: "商品管理",
                        icon: "s-home",
                        url: "Mall/Mall"
                    },
                    {
                        path: "/user",
                        name: "user",
                        label: "用户管理",
                        icon: "s-home",
                        url: "User/User"
                    },
                    {
                        label: "其他",
                        icon: "s-home",
                        children: [{
                            path: "/page1",
                            name: "page1",
                            label: "页面1",
                            icon: "s-home",
                            url: "Other/PageOne"
                        },
                            {
                                path: "/page2",
                                name: "page2",
                                label: "页面2",
                                icon: "s-home",
                                url: "Other/PageTwo"
                            }
                        ]
                    },
                ]
            };
        },
        methods: {
            handleStorePath( item ) {
                this.$store.commit('selectMenu', item )
            }
        },
        computed: {
            nochildren() {
                return this.menuDatas.filter(item => !item.children)
            },
            haschildren() {
                return this.menuDatas.filter(item => item.children)
            },
            isCollapse() {
                return this.$store.state.tab.isCollapse
            }
        },
    }
</script>

<style scoped lang="less">
    .el-menu-vertical-demo:not(.el-menu--collapse) {
        /* width: 200px; */
        min-height: 400px;
    }

    .el-menu-vertical-demo {
        h3 {
            width: 100%;
            font-size: 16px;
            margin: 0;
            height: 60px;
            line-height: 60px;
            color: #FFF;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
        }
    }
</style>