<template>
    <div class="header-container">
        <div class="l-container">
            <el-button @click="handleMenu" icon="el-icon-s-fold" size="mini"></el-button>
            <el-breadcrumb class="header-breadcrumb" separator="/">
                <el-breadcrumb-item v-for="item in tags" :key="item.path"
                                    :to="{ path: item.path }">{{ item.label }}
                </el-breadcrumb-item>
            </el-breadcrumb>
        </div>

        <el-dropdown trigger="click">
            <el-button type="primary" class="profile-photo">

            </el-button>
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item>黄金糕</el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>

    </div>
</template>

<script>
    import { mapState } from 'vuex'
    export default {
        data() {
            return {
            }
        },
        methods: {
            toPath: function () {

            },
            handleMenu() {
                this.$store.commit('collapseMenu')
            }
        },
        mounted() {
            // console.log(this.tags,'tags')
        },
        computed: {
            ...mapState({
                tags: state => state.tab.tabsList
            })
        }
    }

</script>

<style scoped lang="less">
    .header-container {
        width: 100%;
        height: 60px;
        background-color: #333;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
        flex-wrap: nowrap;
        /*color: #ffffff;*/

        .header-breadcrumb {
            margin-left: 10px;
        }

        .header-breadcrumb :deep(span) {
            color: #fff !important;
        }

        /*.el-breadcrumb__inner ::v-deep{*/
        /*	color: #FFF !important;*/

        /*}*/

        .profile-photo {
            background-image: url("../assets/photo/profile photo.jpeg");
            width: 30px;
            height: 30px;
            border-radius: 50%;
            padding: 0;
            border: 0;
            background-repeat: no-repeat;
            background-size: 100%;
            /*background-position: right top;*/
            /*background-color:rgba(0,0,0,0)*/
        }
    }

    /*.header-breadcrumb{*/
    /*	color: #fff;*/
    /*}*/
    .l-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    /*.r-container {*/
    /*    height: 100%;*/
    /*    width: auto;*/
    /*    padding: 0 5px;*/
    /*    display: flex;*/
    /*}*/
</style>